body {
    background-image: url('94279872.jpg'), url('dark_wood.png');
    background-repeat: no-repeat, repeat;
    background-size: 1600px;
}

@media screen and (min-width:2400px) {
   body {
    background-size: 2560px;
    }
    
}